
<%- include('../views/partials/navbar') %>
<h1 class="title text-center">Welcome to the Lifeline Donor Web App!</h1>
<p class="fw-semibold text-center fs-4">"Be the Lifeline. Donate Blood, Save Lives!"</p>

<div id="carouselExampleAutoplaying" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card">
        <img src="https://images.unsplash.com/photo-1522543558187-768b6df7c25c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 " alt="...">
    </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1474649107449-ea4f014b7e9f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://plus.unsplash.com/premium_photo-1681152790486-62ed5ef2055a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="row">
    <div class="col-6 offset-3 mt-5">
  <div class="card">
    <div class="card-body">
      <p class="fw-bold fs-4">The Lifeline Donor web app is a platform that connects blood donors with individuals or organizations in need of blood donations. It allows donors to register, find nearby blood donation camps, and respond to specific blood requests. The app sends notifications about upcoming events and urgent requests, facilitates communication between donors and recipients, and maintains a record of donation history. It also provides educational resources and ensures the privacy and security of user data. The Lifeline Donor web app simplifies the process of blood donation and helps save lives.




      </p>
    </div>
  </div>
  </div>
  </div>
<%- include('../views/partials/footer') %>

